$primary: #0D5C63;
$secondary: #fffffa;
$success: #2241a5;
$info: #f1f1f1;
$warning: #ffff00dd;
$danger: #a52f22;
$light: #44A1A0;
$dark: #000000;
$primary-light: rgba(13, 92, 99, 0.7);

@import "../node_modules/bootstrap/scss/bootstrap.scss";